body {
    background-color: $white;
    color: $black;
    font-family: 'Rawline', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.container {
    max-width: 1892px;
    padding: 0 15px;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    background-color: $black;
    color: $white;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    padding: 10px 47px;
}

@media(max-width: 991px) {
    
    .btn {
        font-size: 18px;
    }

}